<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body  style="height: 1vh; text-decoration: none; ">
    <div>
        <div style="height: 500px ;width: 100%; align-items: center; justify-content: center; display: flex;">
            <ul style="height: fit-content;width: 100px; background-color: black; margin-right: 20px">
                <li><a style="color: white; text-decoration: none; list-style-type: none;" href="http://localhost:5001/collab">Quản lý nhà cung cấp</a></li>
            </ul>
            <ul style="height: fit-content;width: 100px; background-color: black;">
                <li><a style="color: white; text-decoration: none; list-style-type: none;" href="http://localhost:5001/delivery">Quản lý đơn hàng</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>